- colours = @photos.first.colours.gsub(/[\[\]"\\]/, "").split(",")
.strip
	%ul
		- colours.each do |colour|
			%li{:style => "background-color: #{colour}; width: #{100/colours.length}%"}
%h1 instanat
%h2 one image at a time
- @photos.each do |photo|
	- degree = rand(4)-2
	:css
		body {
			color: #{colours[-6]};
		}
		h1 {
			color: #{colours[3]};
		}
		a {
			color: #{colours[-3]};
		}
		a:hover {
			color: #{colours[-4]};
		}
		.printout {
			-webkit-transform: rotate(#{degree}deg);
			-moz-transform: rotate(#{degree}deg);
		}

	.printout
		%img#photo{:src => photo.media_url}
		.gradient